body{
	background-color: black;
	background-image: url("nxy.png");
    background-size: cover;

}
div{
	position: relative;
	/*定位*/
	top: 20px;
	/*距离上方元素*/

}
/*头像*/
img{
	height: 100px;
	width: 100px;
	/*最好高宽一致*/

	display: block;
	margin: auto;
	/*居中*/

	border-radius: 50px; 
	/*形状圆弧*/
}

/*标签居中*/
P{
	text-align: center;
	font-size: 25px;
}


#container{
	background-color: white;
    opacity: 60%;
    /*背景颜色与透明度*/

	height: 500px;
	width: 500px;


	margin:auto;
	top: 100px;
	/*居中 距离上方100px*/

	border-radius: 50px;
}

/*盒子里的p标签*/
#title P{
	font-size: 30px;
	/*字体大小*/
	font-weight: bold;
	/*字体粗细*/
	font-family: "宋体";
}

#title:hover{
	color: #31b499c2;
}